h1 {
    font-size: 70px;
    text-align: center;
    padding: 20px;
}
#container {
    text-align: center;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(65, 64, 64);
    border: none;
    border-radius: 15px;
}
.button:hover {background-color: rgb(163, 163, 163)}

.button:active {
  background-color: rgb(163, 163, 163);
  transform: translateY(4px);
}
p {
    font-size: 40px;
}
h2 {
    font-size: 45px;
}
body {
    color: white;
    background-color: black;
    background-size: cover;
}
#rock {
    height: 200px;
    width: 200px;
    background-image: url("images/rock.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#paper {
    height: 200px;
    width: 200px;
    background-image: url("images/paper.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#scissors {
    height: 200px;
    width: 200px;
    background-image: url("images/scissors.png");
    background-repeat: no-repeat;
    background-size: contain;
}